html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
}

.container {
  max-width: 414px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 52px;
    padding-right: 86px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.details-restaurant,
.details-hotel {
  max-width: 414px;
  max-height: 735px;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 24px;
  padding-bottom: 40px;
}

.details-restaurant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-414.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 414px 735px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-414@2x.webp);
  }
}
@media screen and (min-width: 1024px) {
  .details-restaurant {
    max-width: 1024px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-1024.webp);
    background-size: contain;
    background-size: 1024px 620px;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-1024@2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .details-restaurant {
    max-width: 1280px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-1280.webp);
    background-size: contain;
    background-size: 1280px 620px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/restourant-1280@2x.webp);
  }
}

.details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel_414.webp);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel_414@2x.webp);
  }
}
@media screen and (min-width: 1024px) {
  .details-hotel {
    max-width: 1024px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel-1024.webp);
    background-size: contain;
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel-1024@2x.webp);
  }
}
@media screen and (min-width: 1280px) {
  .details-hotel {
    max-width: 1280px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel-1280.webp);
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .details-hotel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../image/hotel-1280@2x.webp);
  }
}

@media screen and (min-width: 1024px) {
  .container.reverse {
    padding-left: 47px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .container.reverse {
    padding-left: 85px;
    padding-right: 50px;
  }
}

.details-restaurant__desc {
  width: 259px;
  margin-left: auto;
  outline: 1px solid tomato;
}
@media screen and (min-width: 1024px) {
  .details-restaurant__desc {
    width: 610px;
    margin-left: 231px;
  }
}
@media screen and (min-width: 1280px) {
  .details-restaurant__desc {
    margin-left: 253px;
  }
}

.desc__logo {
  margin-bottom: 12px;
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .desc__logo {
    font-size: 64px;
    line-height: 1.078125;
    letter-spacing: 0.3em;
  }
}

.desc__title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .desc__title {
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.desc__lead {
  margin-bottom: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #bababa;
}
@media screen and (min-width: 1024px) {
  .desc__lead {
    font-size: 16px;
    line-height: 1.25;
  }
}

.interactiv-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .interactiv-wrap {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .reverse .interactiv-wrap {
    flex-direction: row-reverse;
  }
  .reverse .interactiv-wrap .btn-wrap {
    margin-left: unset;
  }
}

.slider {
  padding-left: 40px;
  margin-bottom: 40px;
  width: 364px;
  height: 310px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 1024px) {
  .slider {
    width: 662px;
    height: 319px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .slider {
    width: 875px;
    margin-bottom: 0;
  }
}

.details-hotel .btn-wrap {
  margin-right: unset;
}

.btn-wrap {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 236px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.reserv-table {
  margin-bottom: 16px;
}

.view-menu {
  display: block;
  padding: 14px 32px 14px 31px;
  line-height: 1;
}

.details-hotel {
  background-color: rgba(0, 0, 0, 0.65);
}

.details-hotel__desc {
  width: 243px;
  text-align: right;
  margin-right: auto;
  margin-left: 17px;
  outline: 1px solid tomato;
}
@media screen and (min-width: 1024px) {
  .details-hotel__desc {
    width: 549px;
    margin-left: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .details-hotel__desc {
    width: 595px;
    margin-left: 295px;
  }
}

.desc__lead.text-align {
  text-align: left;
}

.reserv-room {
  margin-bottom: 16px;
}

.view-price {
  display: block;
  padding: 14px 37px;
  line-height: 1;
}/*# sourceMappingURL=main.css.map */