.details-restaurant,
.details-hotel {
  max-width: 414px;
  max-height: 735px;

  background-color: $dark-bg-section;
  padding-top: 24px;
  padding-bottom: 40px;
}

.details-restaurant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../image/restourant-414.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 414px 735px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/restourant-414@2x.webp);
  }

  @media screen and( min-width:1024px) {
    max-width: 1024px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/restourant-1024.webp);
    background-size: contain;
    background-size: 1024px 620px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../image/restourant-1024@2x.webp);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/restourant-1280.webp);
    background-size: contain;
    background-size: 1280px 620px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../image/restourant-1280@2x.webp);
    }
  }
}

.details-hotel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../image/hotel_414.webp);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/hotel_414@2x.webp);
  }

  @media screen and( min-width:1024px) {
    max-width: 1024px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/hotel-1024.webp);
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../image/hotel-1024@2x.webp);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    max-height: 620px;
    padding-top: 48px;
    padding-bottom: 47px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../image/hotel-1280.webp);
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../image/hotel-1280@2x.webp);
    }
  }
}

.container.reverse {
  @media screen and (min-width: 1024px) {
    padding-left: 47px;
    padding-right: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 85px;
    padding-right: 50px;
  }
}
.details-restaurant__desc {
  width: 259px;
  margin-left: auto;
  outline: $outline;

  @media screen and (min-width: 1024px) {
    width: 610px;
    margin-left: 231px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 253px;
  }
}
.desc {
}
.desc__logo {
  margin-bottom: 12px;

  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;

  color: $logo-color-for-dark-bg;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
  }
}
.desc__title {
  margin-bottom: 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;

  color: $title-color-for-dark-bg;

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(29 / 24);
  }
}
.desc__lead {
  margin-bottom: 48px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;

  color: #bababa;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

.interactiv-wrap {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 1024px) {
    // flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.reverse .interactiv-wrap {
  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
    & .btn-wrap {
      margin-left: unset;
    }
  }
}

.slider {
  padding-left: 40px;
  margin-bottom: 40px;
  width: 364px;
  height: 310px;

  outline: $outline;

  @media screen and (min-width: 1024px) {
    width: 662px;
    height: 319px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 875px;
    margin-bottom: 0;
  }
}
.details-hotel .btn-wrap {
  margin-right: unset;
}

.btn-wrap {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 236px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: $accent-color;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;

  // &:hover,
  // &:focus {
  //   background-color: $hover-bgcolor-small-btn;
  // }
}

.reserv-table {
  margin-bottom: 16px;
}

.view-menu {
  display: block;
  padding: 14px 32px 14px 31px;
  line-height: 1;
}
.details-hotel {
  background-color: $dark-bg-section;
}

.details-hotel__desc {
  width: 243px;
  text-align: right;
  margin-right: auto;
  margin-left: 17px;

  outline: $outline;

  @media screen and (min-width: 1024px) {
    width: 549px;

    margin-left: 150px;
  }
  @media screen and (min-width: 1280px) {
    width: 595px;
    margin-left: 295px;
  }
}
.desc__lead.text-align {
  text-align: left;
}

.reserv-room {
  margin-bottom: 16px;
}
.view-price {
  display: block;
  padding: 14px 37px;
  line-height: 1;
}
